.header__navigation {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header__navigation > ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header__navigation a {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 60px;
  position: relative;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease-in-out;
}

.header__navigation a:hover {
  color: #56fbb1;
}

.header__underline {
  position: absolute;
  height: 6px;
  background-color: var(--navigation_background);
  z-index: 12;
  bottom: 0;
  left: -130px;
  width: 130px;
  transition: 0.3s;
  border-radius: 4px;
}

.header__navigation a:hover ~ .header__underline {
  background-color: #56fbb1;
  ;
}

.header__navigation a:nth-child(1):hover ~ .header__underline {
  transform: translateX(100%);
}

.header__navigation a:nth-child(2):hover ~ .header__underline {
  transform: translateX(200%);
}

.header__navigation a:nth-child(3):hover ~ .header__underline {
  transform: translateX(300%);
}

.header__navigation a:nth-child(4):hover ~ .header__underline {
  transform: translateX(400%);
}

@media screen and (max-width: 1365px) {
  .header__navigation :not(:first-child) {
    display: none;
  }
}

.header__button {
  margin-left: 10px;
}
.header__logo {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  left: 0;
  height: 100%;
  width: 200px;
}
.header__logo__img {
  width: 100%;
  height: 60%;
  margin-left: -22px;
}
