:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --navigation_background: #252525;
  --gold:#ddaf53;
  --body_background: #faf3e5;
  --body_color: #000000;
  --card_background: #ffffff;
}
[data-theme="dark"] {
  --body_background: #121212;
  --body_color: #ffffff;
  --card_background: #000000;
}

* {
  box-sizing: border-box;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  height: 100%;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  height: 42px;
  border-radius: 42px;
  padding: 0 20px;
  cursor: pointer;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  border: unset;
  z-index: 1;
  position: relative;
  background: #ddaf53;
  transition: all 0.3s;
  overflow: hidden;
  border: 4px solid #ddaf53;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: var(--navigation_background);
  z-index: -1;
  transition: all 300ms;
}

button:hover {
  color: #e8e8e8;
}

button:hover::before {
  width: 100%;
}
button:active {
  transform: scale(0.95);
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  margin: 0;
  color: var(--body_color);
}
