.cart {
  width: 100%;
  height: 110%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--body_background);
  padding: 20px;
}
.cart h1{
  font-size: 54px;
  font-weight: 700;
  color: var(--heading_color);
  padding:30px 0;
}
.cart h2{
  @media screen and (max-width: 600px){
    font-size: 14px;
  }
}
.cart__wrapper {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  border-radius: 30px;
}
.cart__header{
  width: 100%;
  display: flex;
  background-color: var(--card_background);
  box-shadow: 0 0 12px #00000033;
  height: 50px;
  border-radius: 30px 30px 0 0;
}
.cart__header div{
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart__products{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.cart__product{
  width: 100%;
  display: flex;
  height: 50px;
  border-bottom: 1px solid var(--card_background);
}
.cart__products:nth-child(2n) {
  background-color: var(--image_color);
}

.cart__products:nth-child(2n-1) {
  background-color: var(--card_background);
}

.cart__products:last-child {
  border-radius: 0 0 30px 30px;
  border-bottom: none;
}
.cart__product div{
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart__product p{
  font-size: 18px;
  font-weight: 500;
  color: var(--body_color);
  @media screen and (max-width: 600px){
    font-size: 14px;
  }
}
.cart__total{
  width: 250px;
  height: 50px;
  display: flex;
  margin:30px 0 ;
  display: flex;
  justify-content: center;
}

.cart button{
  width: 250px;
  height: 50px;}